.header {
  height: 5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-bg);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}


.header__content {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  z-index: 1001;
}

.header .link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: var(--clr-primary);
}

.header .logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--clr-primary);
}

.header .name {
  font-size: 1.1rem;
  font-weight: 700;
}

@media (min-width: 600px) {
  .header {
    height: 6rem;
  }
  
  .header .logo {
    width: 45px;
    height: 45px;
  }

  .header .name {
    font-size: 1.5rem;
  }
}



